<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2">{{vm.titulo}}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <a ui-sref="" class="btn btn-success ml-3" data-toggle="modal" data-target="#formPgto">
            <span class="feather icon-plus"></span>
            <span>Pagamento</span>
        </a>
    </div>
</div>
<form>
    <div class="form-row justify-content-end">
        <div class="form-group col-md-1">
                <label for="mesa">Mesa</label>
                <span readonly class="form-control text-right">{{vm.registro.mesa.numero}}</span>
        </div>
        <div class="form-group col-md-3">
            <label for="emissao">Emissão</label>
            <span readonly class="form-control text-right">&nbsp;{{vm.registro.emissao | date:'dd/MM/yyyy HH:mm'}}</span>
        </div>
        <div class="form-group col-md-3">
            <label for="valorTotal">Valor Total</label>
            <span readonly class="form-control text-right">{{vm.registro.valorTotal | number:2}}</span>
        </div>
    </div>
    <div class="form-group col-md-12">
            <label for="descricao">Observação</label>
            <input type="text" ng-model="vm.registro.descricao" class="form-control" id="descricao">
    </div>
</form>
<div class="table-responsive">
    <div class="text-right m-2">
        <button ng-click="vm.novoItem()" data-toggle="modal" data-target="#formItem" type="button" class="btn btn-sm btn-primary">
            <span class="feather icon-plus"></span>
            <span>Novo Item</span>
        </button>
    </div>
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Produto</th>
                <th>Descrição</th>
                <th class="text-right">Quantidade</th>
                <th class="text-right">Preço</th>
                <th class="text-right">Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in vm.registro.itens">
                <td>{{item.produto.codigo}}</td>
                <td>{{item.produto.descricao}}</td>
                <td class="text-right">{{item.quantidade | number: 2}}</td>
                <td class="text-right">{{item.valorUnitario | number: 2}}</td>
                <td class="text-right">{{item.valorTotal | number: 2}}</td>
                <td class="text-right">
                    <button ng-click="vm.editarItem(item)" data-toggle="modal" data-target="#formItem" class="btn btn-sm btn-link py-0">
                        <span class="feather icon-edit"></span>
                    </button>
                    <button ng-click="vm.excluirItem(item)" class="btn btn-sm btn-link text-danger py-0">
                        <span class="feather icon-trash-2"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<button type="button" ng-click="vm.salvar()" class="btn btn-primary">Salvar</button>
<a ui-sref="mesasList" class="btn btn-danger">Cancelar</a>

<!-- Modal de Itens -->
<div class="modal fade" id="formItem" tabindex="-1" role="dialog" aria-labelledby="formItem" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Item do Pedido</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="produto">Produto</label>
                    <select ng-options="item as item.descricao for item in vm.produtos track by item.id" ng-model="vm.registroItem.produto" class="form-control"
                        ng-change="vm.registroItem.valorUnitario = vm.registroItem.produto.preco">
                    </select>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="quantidade">Quantidade</label>
                        <input type="number" ng-model="vm.registroItem.quantidade" class="form-control text-right" id="quantidade">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="valorUnitario">Valor Unitário</label>
                        <input type="number" ng-model="vm.registroItem.valorUnitario" class="form-control text-right" id="valorUnitario">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="valorTotal">Valor Total</label>
                        <input type="number" disabled ng-model="vm.registroItem.valorTotal" class="form-control text-right" id="valorTotal">
                    </div>
                </div>
                <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="observacao">Observacao</label>
                            <input type="text" ng-model="vm.registroItem.observacao" class="form-control text-right" id="observacao">
                        </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="vm.salvarItem()" class="btn btn-primary" data-dismiss="modal">Salvar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Pagamento -->
<div class="modal fade" id="formPgto" tabindex="-2" role="dialog" aria-labelledby="formPgto" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Pagamento</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                                <label for="valorTotal">Valor Total</label>
                                <span readonly class="form-control text-right">{{vm.registro.valorTotal | number:2}}</span>
                        </div>
                        <div class="form-group col-md-4">
                                <label for="valorPago">Valor Pago</label>
                                <input type="number" ng-model="vm.registro.valorPago" class="form-control text-right" id="valorPago">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" ng-click="vm.pagar()" class="btn btn-primary" data-dismiss="modal">Pagar</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
</div>

            