<div class="container-fluid">
    <div class="row justify-content-sm-center">
        <div class="col-sm-8">
            <h2 class="title">{{vm.title}}</h2>
            <form>
                <div class="form-group">
                    <label>Documento</label>
                    <input type="text" ng-model="vm.record.documento" class="form-control">
                    <small class="form-text text-muted">Digite um CPF ou CNPJ válido.</small>
                </div>        
    <!-- Componente criado de teste     -->
                <app-input 
                    label="Componente criado de teste" 
                    type="text"
                    validacao="Digite um CPF ou CNPJ válido.">
                </app-input>
    <!-- Componente criado de teste     -->                 
                <div class="form-group">
                    <label>Nome</label>
                    <input type="text" ng-model="vm.record.nome" class="form-control">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" ng-model="vm.record.email" class="form-control">
                </div>
                <div class="form-group">
                    <label>Telefone</label>
                    <input type="text" ng-model="vm.record.telefone" class="form-control">
                </div>
                <button ng-click="vm.save()" type="button" class="btn btn-primary btn-lg">Salvar Registro</button>
                <a ui-sref="app.cliente.list" class="btn btn-danger">Cancelar</a>
            </form>
        </div>
    </div>
</div>